{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- 🔸 Pineapple Section -->
<div class="product-section pineapple-bg d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-12 col-md-6 col-lg-4 text-center" >
        
        <a href="#" class="text-primary text-decoration-none fw-bold see-more-link mt-5">&gt;&gt; See More</a>
      </div>
    </div>
  </div>
</div>

<!-- 🔸 Mango Section -->
<div class="product-section mango-bg d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-6 col-lg-4 text-center">
        
        <a href="#" class="text-primary text-decoration-none fw-bold see-more-link mt-5">&gt;&gt; See More</a>
      </div>
    </div>
  </div>
</div>

<!-- 🔸 Banana Section -->
<div class="product-section banana-bg d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-12 col-md-6 col-lg-4 text-center">
        
        <a href="#" class="text-primary text-decoration-none fw-bold see-more-link mt-5">&gt;&gt; See More</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}